{% extends 'books/base.html' %}

{% block title %}Dashboard{% endblock %}

<!--BOOKS -->

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Dashboard</h2>

        <div class="grid grid-cols-3 gap-3">
            <h2>{{ file.category }}</h2>
            <h1>{{ book.title }}</h1>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Author:</strong> {{ book.author }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Genre:</strong> {{ book.genre }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Publication Year:</strong> {{ book.publication_year }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Language:</strong> {{ book.language }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Description:</strong> {{ book.description }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Available:</strong> {{ book.available }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Rating:</strong> {{ book.rating }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Number of Ratings:</strong> {{ book.num_ratings }}</p>
            <p style="margin-bottom: 5px;"><strong style="color: #333;">Price:</strong> {{ book.price }}</p>
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="width: 100%; max-width: 400px; height: auto; margin-top: 20px; border: 1px solid #ccc; border-radius: 5px;">
        </div>
    </div>
{% endblock %}