{% extends 'books/base.html' %}

{% block title %}Welcome to Digi Library{% endblock %}

{% block content %}
	<div style="font-family: Arial, sans-serif;  min-height: 100vh; background-color: #f3f4f6;">


    	<div style="display: flex; justify-content: center; align-items: center; height: 40vh;">
		  <div style="font-family: 'Great Vibes', cursive; font-size: 5rem; font-weight: bold; color: teal; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
		    <i class="fas fa-book" style="color: teal; font-size: 8rem; margin-right: 1rem;"></i>
		    <span style="font-style: italic;">DIGI-LIBRARY</span>
		  </div>
		</div>
		
		
		<div style="margin-bottom: 30px;">

			<div style="margin-bottom: 30px; text-align: center;">

				<div style="max-width: 600px; margin: 0 auto;">
			        <h4 style="color: teal; font-size: 1.5rem; font-weight: bold; margin-bottom: 15px;">
			            Your E-Library Platform, At Your Service.
			        </h4>
			        <p style="color: #6b7280; font-size: 1.1rem; line-height: 1.6;">
			            Connect with fellow book lovers, share insights, and participate in discussions within our vibrant community. From book clubs to author interviews and literary events, there's always something exciting happening at Digi-Library. Join us and become part of a thriving ecosystem of readers united by a love for the written word.
			        </p>

			        <p style="color: #6b7280; font-size: 1.1rem; line-height: 1.6; margin-top: 10px;">
			            Embark on a journey of discovery, learning, and enrichment with Digi-Library. Sign up now to unlock a world of knowledge, inspiration, and endless possibilities. Your next great read awaits!
			        </p>
			    </div>

			</div>

			<div style="margin-bottom: 30px; display: flex; align-items: center; justify-content: center; font-family: Arial, sans-serif;">

			    <div style="max-width: 600px; margin-right: 20px;">
			        <h4 style="color: teal; font-size: 1.5rem; font-weight: bold; margin-bottom: 15px; font-family: Arial, sans-serif;">
			            Welcome to Digi-Library: Your Digital Library for E-books.
			        </h4>
			        <p style="color: #6b7280; font-size: 1.1rem; line-height: 1.6;">
			            Are you ready to embark on a journey into the world of literature? Look no further! Digi-Library is your ultimate destination for discovering, accessing, and enjoying a vast collection of e-books right at your fingertips. Whether you're an avid reader, a student, or a lifelong learner, our digital library platform has something for everyone.
			        </p>
			    </div>

			    <img src="media/file_images/welcome.jpg" alt="image" style="max-width: 50%; height: auto; margin: 0; padding: 0; border: none;">
			</div>

			<div style="margin-bottom: 30px; display: flex; align-items: center; justify-content: center;">

			    <img src="media/file_images/anytime.jpg" alt="image" style="max-width: 50%; height: auto; margin-right: 20px;">

			    <div style="max-width: 600px;">
			        <h4 style="color: teal; font-size: 1.5rem; font-weight: bold; margin-bottom: 15px; font-family: Arial, sans-serif;">
			            Seamless Access Anytime, Anywhere.
			        </h4>
			        <p style="color: #6b7280; font-size: 1.1rem; line-height: 1.6; font-family: Arial, sans-serif;">
			            With Digi-Library, you can access your favorite e-books anytime, anywhere, and on any device. Whether you're at home, on the go, or traveling abroad, our user-friendly platform ensures that your reading experience remains uninterrupted and convenient.
			        </p>
			    </div>
	    	</div>



	    	<div style="margin-bottom: 30px; display: flex; align-items: center; justify-content: center; font-family: Arial, sans-serif;">

			    <div style="max-width: 600px; margin-right: 20px;">
			        <h4 style="color: teal; font-size: 1.5rem; font-weight: bold; margin-bottom: 15px;">
			            Explore Endless Possibilities
			        </h4>
			        <p style="color: #6b7280; font-size: 1.1rem; line-height: 1.6; font-family: Arial, sans-serif;">
			            Dive into a treasure trove of e-books spanning various genres, topics, and interests. From timeless classics to contemporary bestsellers, educational resources to niche publications, our extensive library caters to diverse reading preferences and intellectual pursuits.
			        </p>
			    </div>

			    <img src="media/file_images/possibilities.jpg" alt="image" style="max-width: 50%; height: auto; margin: 0; padding: 0; border: none;">
			</div>
		</div>


		
		<div style="display: inline-grid; grid-template-columns: 2fr; grid-template-rows: auto auto; grid-template-areas: 'header' 'content'; grid-gap: 10px; width: 250px; height: 350px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;">
		    <h4 style="grid-area: header; color: #4b5563; font-size: 1.25rem; font-weight: bold; ">
		        Welcome to Digi-Library: Your Digital Library for E-books.
		    </h4>
		    <img src="media/file_images/homelib.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
		</div>


		<div style="display: inline-grid; grid-template-columns: 2fr; grid-template-rows: auto auto; grid-template-areas: 'header' 'content'; grid-gap: 10px; width: 250px; height: 350px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;">
		    <h4 style="grid-area: header; color: #4b5563; font-size: 1.25rem; font-weight: bold;">
		        Welcome to Digi-Library: Your Digital Library for E-books.
		    </h4>
		    <img src="media/file_images/shelflib.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
		</div>



		<div style="display: inline-grid; grid-template-columns: 2fr; grid-template-rows: auto auto; grid-template-areas: 'header' 'content'; grid-gap: 10px; width: 250px; height: 350px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;">
		    <h4 style="grid-area: header; color: #4b5563; font-size: 1.25rem; font-weight: bold;">
		        Welcome to Digi-Library: Your Digital Library for E-books.
		    </h4>
		    <img src="media/file_images/home_shelf.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
		</div>

		<div style="display: inline-grid; grid-template-columns: 2fr; grid-template-rows: auto auto; grid-template-areas: 'header' 'content'; grid-gap: 10px; width: 250px; height: 350px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;">
		    <h4 style="grid-area: header; color: #4b5563; font-size: 1.25rem; font-weight: bold;">
		        Welcome to Digi-Library: Your Digital Library for E-books.
		    </h4>
		    <img src="media/file_images/shelves.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
		</div>


		<div style="display: inline-grid; grid-template-columns: 2fr; grid-template-rows: auto auto; grid-template-areas: 'header' 'content'; grid-gap: 10px; width: 250px; height: 350px; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; position: relative; overflow: hidden;">
		    <h4 style="grid-area: header; color: #4b5563; font-size: 1.25rem; font-weight: bold;">
		        Welcome to Digi-Library: Your Digital Library for E-books.
		    </h4>
		    <img src="media/file_images/lapbook.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
		</div>




	    <h1 style="font-size: 25px; margin-top: 45px; margin-bottom: 10px; text-decoration:blink; color: teal; font-family: Arial, sans-serif; font-size: 2.25rem; font-weight: 600;">Available Books</h1>

	    {% for category, files in files_by_category.items %}
		    {% if files %}
		        <div style="grid-column: span 3; text-align: center;">
		            <h1 style="font-size: 24px; font-weight: bold; margin-top: 20px; margin-bottom: 10px;">{{ category.name }}</h1>
		        </div>
		        <div style="display: flex; flex-wrap: wrap; justify-content: left; gap: 20px;">
		            {% for file in files %}
		                {% if forloop.counter <= 6 %} {# Display only the first 6 files #}
		                    <div style="flex: 0 0 calc(33.33% - 20px); margin-bottom: 20px; border: none; border-radius: 5px; text-align: center;">
		                        {% if file.image %}
		                            <img src="{{ file.image.url }}" alt="{{ file.title }} Image" style="width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;">
		                        {% endif %}
		                        <div style="padding: 10px;">
		                            <h2 style="font-size: 20px; margin-bottom: 10px; font-family: Arial, sans-serif;"><strong>{{ file.title }}</strong></h2>
		                            <p style="font-size: 16px; margin-bottom: 5px; font-family: Arial, sans-serif;"><strong>Author:</strong> {{ file.author }}</p>
		                            <p style="font-size: 16px; margin-bottom: 5px; font-family: Arial, sans-serif;"><strong>Category:</strong> {{ file.category }}</p>
		                            <p style="font-size: 16px; margin-bottom: 10px; font-family: Arial, sans-serif;"><strong>Price:</strong> {{ file.price }}</p>
		                            <p style="font-size: 16px; margin-bottom: 10px; font-family: Arial, sans-serif;"><strong>Rating:</strong> {{ file.rating }}</p>
		                            <a href="{% url 'file:payment' file_id=file.id %}" style="display: inline-block; padding: 8px 16px; background-color: #FD6C01; color: white; border-radius: 5px; text-decoration: none; font-family: Arial, sans-serif;">Buy Book</a>
		                        </div>
		                    </div>
		                {% endif %}
		            {% endfor %}
		        </div>
		        {% if files|length > 6 %} {# Display "MORE BOOKS" button if there are more than 6 files #}
		            <div style="text-align: center;">
		                <a href="{% url 'file:files' %}" style="font-size: 18px; color: #FD6C01; text-decoration: none; font-weight: bold; font-family: Arial, sans-serif;">MORE BOOKS</a>
		            </div>
		        {% endif %}
		    {% endif %}
		{% endfor %}	


		<script>
		    // Smooth scrolling effect
		    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		        anchor.addEventListener('click', function(e) {
		            e.preventDefault();

		            document.querySelector(this.getAttribute('href')).scrollIntoView({
		                behavior: 'smooth'
		            });
		        });
		    });
		</script>   
	</div>	
{% endblock %}