{% extends 'books/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
	<div class="container" style="max-width: auto; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333; margin-top: 60px;">
	    <div style="background-color: #219ebc; padding: 1rem; border-radius: 1rem; text-align: center; margin-top: 30px; margin-bottom: 20px;">
		    <h1 style="font-size: 1.5rem; font-weight: bold;">Privacy Policy</h1>
		    <div style="border-bottom: 1px solid #000000; margin: 1rem auto; width: 6.4rem;"></div>
		</div>

	    <p style="margin-bottom: 20px; font-weight: bold;">Effective Date: 14th February 2024</p>

	    <p style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">Welcome to Digi_Library!</p>

	    <p style="margin-bottom: 20px;">At Digi_Library, we value the privacy of our users and are committed to protecting it. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website.</p>

	    <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">Information We Collect</h2>

	    <p style="margin-bottom: 20px;">We may collect personal information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey, fill out a form, or otherwise interact with our website. The types of personal information we may collect include:</p>

	    <ul style="margin-bottom: 20px;">
	        <li>Name</li>
	        <li>Email address</li>
	        <li>Mailing address</li>
	        <li>Phone number</li>
	        <li>Payment information</li>
	        <li>Demographic information</li>
	        <li>Other information relevant to customer surveys and/or offers</li>
	    </ul>

	    <!-- Add more content as needed -->

	    <div style="margin-bottom: 30px;">
		    <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 2px;">Data Security</h1>

		    <p>We are committed to ensuring that your information is secure. We have implemented suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
		</div>

		<div style="margin-bottom: 30px;">
		    <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 2px;">Sharing Your Information</h1>

		    <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. However, we may share your information with trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</p>
		</div>

		<div style="margin-bottom: 30px;">
		    <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 2px;">Cookies</h1>

		    <p>Our website uses cookies to enhance your browsing experience. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.</p>
		</div>

		<div style="margin-bottom: 30px;">
		    <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 2px;">Changes to This Privacy Policy</h1>

		    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>
		</div>


	</div>

{% endblock %}