{% extends 'books/base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <div style="padding-bottom: 1.5rem; display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 1rem; background-color: #f3f4f6; font-family: Arial, sans-serif;">
        <div class="col-span-1">
            <form method="get" action="{% url 'file:files' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a business, fiction, self-help book...">

                <button style="margin-top: 1rem; padding: 0.5rem 2rem; font-size: 1.2rem; background-color: #219ebc; color: #ffffff; border-radius: 0.75rem;">Search</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'file:files' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">Clear filters</p>

            <ul>
                <li><a href="{% url 'file:files' %}" style="margin-top: 0.5rem; padding: 1.2rem 2.4rem; display: inline-block; background-color: #FD6C01; font-size: 1.5rem; border-radius: 1.5rem; color: white; text-decoration: none;">Clear</a>
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for file in files %}
                    <div>
                        <a href="{% url 'file:detail' file.id %}">
                            <div>
                                <img src="{{ file.image.url }}" class="rounded-t-xl">
                            </div>
    
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ file.title }}</h2>
                                <p class="font-semibold">{{ file.author }}</p>
                                <p class="font-semibold">{{ file.category }}</p>
                                <p class="text-gray-500">Ksh: {{ file.price }}</p>
                                <a href="{% url 'file:payment' file.id %}" style="margin-top: 0.5rem; padding: 0.5rem 0.9rem; display: inline-block; background-color: #FD6C01; font-size: 1.5rem; border-radius: 1.5rem; color: white; text-decoration: none;">Buy Book</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}